body {
    background: url(/static/img/aboutBrunch1.jpg) no-repeat center center;
    background-size: cover;
}

#about {
    background-color: rgba(221,192,180,0.85);
    padding: 50px 100px;
    border-radius: 25%;
    text-shadow: gray;
}

#loginBtn {
    background-color: #bd8270;
    border-color: white;
    border-radius: 30%;
}

#loginModalLabel, #newAccountModalLabel {
    font-family: 'Lobster Two', cursive;
}

#loginSubmitBtn, #newAccountBtn {
    background-color: #aa6f5d;
    color: white;
}