img {
    height: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/static/img/aboutBrunch1.jpg) no-repeat center center;
    background-size: cover;
}

#user-profile {
    background-color: rgba(221,192,180,0.90);
    padding: 50px 150px;
    border-radius: 25%;
    text-align: center;
}

h1 {
    padding: 20px;
}

h1, p {
    text-shadow: 1px 2px gray;
}

.profile-pic-div {
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white
}

#photo {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: whitesmoke;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    /* removes choose photo from browser */
    display: none; 
}

#savedBtn {
    background-color: #bd8270;
    border: 1px solid #bd8270;
    border-radius: 10px;
}

a {
    color: white;
}