.container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#all-restaurants {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.restaurant {
    list-style-type: none;
    background-color: rgba(189,130,112,0.85);
    border-radius: 10px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'name image'
        'info image';
    text-align: left;
    align-items: center;
}

h1 {
    text-shadow: 2px 2px gray;
}

a {
    color: white;  
}

.restaurant > h2 {
    grid-area: name;
    margin-bottom: 0px;
    text-align: left;
    text-shadow: 1px 2px gray;
}

.restaurant > h5 {
    grid-area: info;
    margin: 0;
    margin-top: 5px;
    color: #FCDFD3;
    text-shadow: 1px 1px gray;
}

.restaurant > img {
    max-height: 100px;
    grid-area: image;
}

#searchBar {
    width: 100%;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 14px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    position: absolute;
    top: 7px;
    right: 15px;
}