/* #savedCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding: 40px;
    margin: 0 auto;
    text-align: center;
} */

.card {
    background-color: #aa6f5d;
}