.card {
    background-color: rgba(189,130,112,0.50);
    border: 2px solid #bd8270;
    border-radius: 25%;
}

#delete-btn {
    background-color: #bd8270;
    border-color: white;
    border-radius: 30%;
    color: white;
}