{% extends 'base.html' %}
{% block title %}All Restaurants - It's Brunch Time!{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/restaurants.css">
{% endblock %}
{% block body %}
<div class="container">
  <h1>Brunch Locations</h1>
  <div id="searchWrapper">
    <input 
        type="text"
        name="searchBar"
        id="searchBar"
        placeholder="Search By Name, Zipcode, or Price"/>
  </div>
  <ul id="all-restaurants"></ul>
</div>

<script src="/static/js/search.js"></script>
{% endblock %}


