<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
  </head>
  
  <body>
    <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    {% block body %}{% endblock %}
  </body>
</html>
