{% extends 'base.html' %}
{% block title %}Home - It's Brunch Time!{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/maps.css"/>
<script src="/static/js/homepageMap.js"></script>
<script
async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCii84Z1-Xp0t0V9SkbuW03gSC5PraoSu4&callback=initMap">
</script>
{% endblock %}
{% block body %}

  <main>
    <h1>It's Brunch Time!</h1>
    <div id="map"></div>
  </main>

<p>
  <a href="/login">Sign In</a> or <a href="/createaccount">Create An Account</a>
</p>

{% endblock %}

