{% extends 'base.html' %}
{% block title %}Sign In - It's Brunch Time!{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <h1>Log In:</h1>
    <form method = "POST">
        <p>Enter email:</p>
        <input type="email" 
               name="email" 
               placeholder="Email Address" 
               required><br>
        <p>Enter password:</p>
        <input type="password" 
               name="password"
               placeholder="Password"><br>
        <input type="submit">
    </form>
{% endblock %}
